*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'sego UI',sans-serif;
}

:root{
    --dark-bg:#0a0a0a;
    --darker-bg:#050505;
    --accent:#2ecc71;
    --accent-glow:rgba(46,204,113,0.4);
    --text:#ffffff;
}

body{
    background-color: var(--dark-bg);
    color: var(--text);
    line-height: 1.6;
    overflow-x: hidden;
}

/* Navigation*/
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(10,10,10,0.95);
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--accent);
    text-decoration: none;
    position: relative;
    padding-left: 2.5rem;
}
.nav-link{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.nav-link a{
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
}
 .nav-link a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--accent);
    transition: width 0.3s ease;
 }

 .nav-link a:hover::after{
    width: 100%;
 }
